[Desktop Entry]
Version=1.0
Type=Application
Name=Pothos Flow
Comment=Pothos data flow suite graphical design tool
TryExec=PothosFlow
Exec=PothosFlow %F
Icon=pothos-flow
MimeType=application/pothos-flow;
Categories=Development;
